#rating_card{
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0px 6px 25px 1px rgb(152, 143, 143);
}

.food_rating_card{
display: flex;
flex-direction: row;
}

.food_description{
    margin-left: 1.5rem;
}

.food_img{
width: 50px;
height: 50px;
}

.style_caption{
}

.star{
    width: 10px;
    margin-left: 5px;
}

.price{
    width: 50% ;
}