#navbar{
    width: 100%;  
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

#logo{
   padding-left: 10px;
}

#list_links{
    display: flex;
    flex-direction: row;
    margin: auto;
}

#list_links p {
    margin-right: 30px;
}

.link_dropdown{
display: flex;
flex-direction: row;
align-items: center;
margin-right: 30px;
}

.link_dropdown span{
   margin: 0px;
}

.link_dropdown img{
    width: 20px;
    height: 15px;
}

#nav_last_elements{
    margin-left: auto;
}

#nav_last_elements img{
    width: 20px;
    margin-right: 25px;
}

#nav_contact_button{
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin-right: 25px;
}

#nav_contact_button img{
    width: 15px;
    margin-right: 8px;
}

#nav_contact_button span{
    color: #FFF;
}